*{
    margin: 0;
    padding: 0;
}
.meuNome{
    background: linear-gradient(to left, black, white, black,white);
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 8s linear infinite;
}
@keyframes animated{
    to {background-position-x:161px};
}
.fundo{
    background-image: linear-gradient(45deg,black, rgb(18, 2, 136));
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
}
.botao:hover{
    background-color: black;
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}
